body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    margin: 20px 0;
}

.product-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    position: relative;
}

.product-card a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

.product-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-actions a {
    color: #007BFF;
    text-decoration: none;
    font-size: 0.9em;
}

.product-actions a:hover {
    text-decoration: underline;
}

.actions {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.action-link {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.action-link:hover {
    background-color: #0056b3;
}

header.logo {
    display: flex;
    align-items: center;
    padding: 20px;
    /* background-color: #f8f9fa; */
}

header.logo h1 {
    margin: 0;
    margin-right: 10px;
    font-size: 45px;
    color: #333;
}

header.logo img {
    width: 80px;
    height: auto;
}