<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nombre %></title>
</head>
<body>
    
    <img src="img/celulares.jpg">
    <h1><%= nombre %></h1>

    <p><a href="/productos/create">Listado de productos</a></p>
</body>
</html>