<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/prueba.css">
    <title>Cell Solutions</title>
</head>
<body>
    <header>
        <h2 class="logo">Cell Solutions</h2>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <nav class="menu">
            <a href="#">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="#">Contacto</a>
            <label for="check" class="esconder-menu">
                &#215
            </label>
        </nav>
    </header>

    <section class="ban">
        <div class="banner">
            <h3>Todo los que necesitas para tu telefono lo encontraras acá...</h3>
        </div>
    </section>

    <section class="accesorios">
         <h3 class="h">Accesorios</h3>
        <div class="imagen">
            <h4>Auriculares</h4>
            <a href="">
                <img src="img/auriculares.jpg" alt="Auriculares">
            </a>
            
        </div>

        <div class="imagen">
            <h4>Cargadores</h4>
            
            <a href="">
                <img src="img/carga.jpg" alt="Cargadores">
            </a>
           
        </div>

        <div class="imagen">
            <h4>Fundas</h4>
            <a href="/productos/nuevo">
                <img src="img/fundas-celu.jpg" alt="Fundas">
            </a>
            
            
        </div><br>

      
    </section>

    <footer>
        <p>&copyDERECHOS RESERVADOS 2024</p>
    </footer>

    
</body>
</html>